.basketContainer {
  @apply mx-auto max-w-[800px];

  .emptyBasket {
    @apply mx-auto flex max-w-[500px] flex-col gap-y-[7rem] text-center;

    .emptyBasketTitle {
      @apply mb-3 font-poppins text-3xl;
    }

    p {
      @apply font-poppins text-sm text-white/[.40];
    }

    .emptyCartImg {
      @apply mb-14 w-[400px];
    }
  }
}
