.gridCustom {
  display: grid;
  grid-template-columns: minmax(0, max-content) repeat(2, minmax(0, 1fr));
  gap: 0 0.5rem;
  // grid-template-columns:  minmax(0, max-content);
}

.furnitureItemBackground {
  background-color: #ececec7c;
}

.furnitureContainer {
  @apply w-[40rem] rounded-3xl border-2 border-white/[.20] bg-black px-10 py-5 shadow-modern;

  .furnitureList {
    @apply flex flex-col justify-between gap-y-2 p-2;
  }
  .sideBackdrop {
    @apply absolute z-[1] h-16 w-16 cursor-pointer bg-black/[.90] transition duration-200  hover:bg-transparent;
  }
  .furnitureItem {
    @apply flex h-16 w-16 cursor-pointer items-center justify-center overflow-hidden rounded-2xl transition-colors;
    img {
      @apply h-[100px] w-[100px]  object-contain object-top;
    }
  }

  .furnitureHero {
    @apply h-[18.43rem] rounded-3xl;
  }

  .furniturePriceTitle {
    @apply font-poppins text-[36px] font-normal text-white;
  }
  .furnitureRate {
    @apply flex items-center justify-between;
  }
  .furnitureRateStart {
    @apply ml-1 inline-block align-bottom font-poppins text-sm text-white/[.40];
  }
  .furnitureCost {
    @apply mt-4;
  }
  .furnitureCostDigit {
    @apply font-poppins text-2xl text-white;
  }
  .furnitureDecrease {
    @apply absolute top-0 right-0 text-[3rem] text-white/[.40];
  }
  .furnitureProperty {
    @apply mt-6;
  }
  .furnitureLabel {
    @apply mr-1 font-poppins text-sm text-white/[.40];
  }
  .labelSelect {
    @apply ml-0.5 bg-transparent text-white;

    option {
      @apply border-none bg-black drop-shadow backdrop-blur-xl;
    }
  }
  .furnitureButtonAdd {
    @apply mt-6 w-full rounded-3xl bg-[#EF6043] p-2 font-poppins text-lg text-white transition-colors hover:bg-[#eb6f50];
  }
  .furnitureInfo {
    p {
      @apply mt-6 cursor-pointer font-poppins text-xs text-white/[.40] hover:text-[#eb988488];
    }
  }
}

@import '@styles/utilities/Master.module.scss';
