.handleLayout {
  @apply mx-auto grid w-max grid-cols-1 place-content-center gap-5 lg:grid-cols-[repeat(2,_minmax(0,_max-content))];

  /* grid-template-columns: minmax(0, max-content) repeat(2, minmax(0, 1fr)); */
  /*  mx-auto  grid grid-cols-[200px_minmax(900px,_1fr)_100px]; */
}
