@import './index.scss';
/* 
.navBar {
  @apply flex w-full items-center justify-between py-6;

  .navBarLogo {
    @apply h-[32px] w-[124px];
  }
  .listNone {
    @apply hidden list-none items-center justify-end  overflow-hidden sm:flex;
  }
  .navBarListItem {
    @apply cursor-pointer font-poppins text-[1rem] font-bold text-fuchsia-100;
  }
  .navBarMobile {
    @apply flex flex-1 items-center justify-end sm:hidden;
  }
  .navBarImg {
    @apply h-[28px] w-[28px] object-contain;
  }
  .navBarMobileSideBar {
    @apply bg-black-gradient  sidebar absolute top-20 right-0 mx-4 my-2 min-w-[140px] justify-center rounded-xl p-6;
  }
  .navBarMobileSideBarList {
    @apply flex   flex-col  items-center justify-center overflow-hidden;
  }
}
 */

.wrapper {
  @apply mx-auto mt-10 mb-10 w-max;
}
.header {
  .container {
    @apply mb-12 md:max-w-full;
  }
  .infoTextBox {
    @apply ml-1;
  }
  .InfoTitle {
    @apply font-poppins text-2xl font-semibold;
  }
  .InfoSubTitle {
    @apply font-medium text-white/[.40];
  }
  .infoPayment {
    @apply grid place-content-center;
  }
  .button {
    @apply h-max rounded-3xl bg-[#EF6043] py-3 px-5 hover:bg-[#eb6f50];
  }
  .buttonDelimiter {
    @apply mx-3 h-4  w-[1px] bg-white;
  }
  .buttonCost {
    @apply self-end  font-poppins font-semibold leading-none;
  }
  .infoBin {
    @apply self-end font-poppins font-semibold leading-none;
  }
}

.sort {
  @apply mb-12 flex-col;

  .categoryList {
    @apply mb-4 lg:mb-0;
  }
  .categoryItem {
    @apply mr-8 cursor-pointer rounded-3xl bg-none py-3 px-5 font-poppins font-bold transition-colors;
  }

  span {
    @apply cursor-pointer border-b border-dashed border-[#EF6043] font-poppins;
  }
  .sortPopup {
    @apply absolute right-[140px] top-[-20px] rounded-2xl bg-[#0f0f0f] p-4 lg:right-[0px] lg:top-[40px];
    li {
      @apply cursor-pointer font-poppins;
    }
  }
}

.handleLayout {
  /* @apply mx-auto  grid grid-cols-[200px_minmax(900px,_1fr)_100px]; */
  @apply mx-auto grid min-h-screen w-max grid-cols-1 place-content-center gap-5 lg:grid-cols-[repeat(2,_minmax(0,_max-content))];

  /* grid-template-columns: minmax(0, max-content) repeat(2, minmax(0, 1fr)); */
}

.furnitureContainer {
  @apply w-[40rem] rounded-3xl border-2 border-white/[.20] bg-black px-10 py-5 shadow-modern;

  .furnitureList {
    @apply flex flex-col justify-between gap-y-2 p-2;
  }
  .sideBackdrop {
    @apply absolute z-[1] h-16 w-16 cursor-pointer bg-black/[.90] transition duration-200  hover:bg-transparent;
  }
  .furnitureItem {
    @apply flex h-16 w-16 cursor-pointer items-center justify-center overflow-hidden rounded-2xl transition-colors;
    img {
      @apply h-[100px] w-[100px]  object-contain object-top;
    }
  }

  .furnitureHero {
    @apply max-h-[300px] rounded-3xl;
  }

  .furniturePriceTitle {
    @apply font-poppins text-[36px] font-normal text-white;
  }
  .furnitureRate {
    @apply flex items-center justify-between;
  }
  .furnitureRateStart {
    @apply ml-1 inline-block align-bottom font-poppins text-sm text-white/[.40];
  }
  .furnitureCost {
    @apply mt-4;
  }
  .furnitureCostDigit {
    @apply font-poppins text-2xl text-white;
  }
  .furnitureDecrease {
    @apply absolute top-0 right-0 text-[3rem] text-white/[.40];
  }
  .furnitureProperty {
    @apply mt-6;
  }
  .furnitureLabel {
    @apply mr-1 font-poppins text-sm text-white/[.40];
  }
  .labelSelect {
    @apply ml-0.5 bg-transparent text-white;

    option {
      @apply border-none bg-black drop-shadow backdrop-blur-xl;
    }
  }
  .furnitureButtonAdd {
    @apply mt-6 w-full rounded-3xl bg-[#EF6043] p-2 font-poppins text-lg text-white transition-colors hover:bg-[#eb6f50];
  }
  .furnitureInfo {
    p {
      @apply mt-6 cursor-pointer font-poppins text-xs text-white/[.40] hover:text-[#eb988488];
    }
  }
}

/* login page */

.login {
  @apply m-auto flex h-[30rem] w-[400px]  flex-col justify-between bg-slate-200 font-poppins  text-black shadow-modern;
  .header {
    @apply flex h-[100px] w-full   items-end justify-center  rounded-t-xl bg-yellow-200 pb-4 font-poppins text-2xl font-bold;
  }

  /* .loginBox {
    @apply flex  flex-grow flex-col justify-center;
  } */
  .loginBox {
    @apply flex  flex-grow flex-col justify-center px-6;
  }
  .form {
    @apply flex w-full flex-col gap-y-4  py-8 tracking-wider;
  }
  .formGroup {
    @apply relative;
  }

  .formInput {
    @apply w-full border-b border-stone-400 bg-transparent pb-3 outline-none transition-all focus:border-stone-500;
  }

  .formButton {
    @apply m-auto w-[30%] cursor-pointer rounded-md bg-[#EF6043] p-2 font-medium transition-colors hover:bg-[#fa836b];
  }
}
