// @import '@/styles/fonts';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black-gradient: linear-gradient(
    144.39deg,
    #202020 -278.56%,
    #161616 -78.47%,
    #d44f4063 0.61%
  );
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

* {
  scroll-behavior: smooth;
}

@layer components {
  body {
    @apply bg-black text-white;
  }
}

@layer components {
  .btnXl {
    @apply w-full rounded-3xl bg-[#EF6043] p-3 font-poppins text-lg hover:bg-[#eb6f50];
  }
}

@layer utilities {
  .boxWidth {
    @apply w-full xl:max-w-[1280px];
  }
  .paragraph {
    @apply font-poppins text-[18px] font-normal leading-[30.8px] text-white;
  }
  .heading {
    @apply font-poppins text-[40px] font-semibold leading-[66.8px] text-white xs:text-[48px] xs:leading-[76.8px];
  }

  .flexCenter {
    @apply flex items-center justify-center;
  }
  .flexStart {
    @apply flex items-start justify-center;
  }
  .flexEnd {
    @apply flex items-end justify-center;
  }
  .flexCenterX {
    @apply flex justify-center;
  }
  .flexCenterY {
    @apply flex flex-col items-center justify-center;
  }
  .flexBetweenX {
    @apply flex flex-row justify-between;
  }
  .flexCol {
    @apply flex flex-col;
  }
  .paddingX {
    @apply px-6 sm:px-16;
  }
  .paddingY {
    @apply py-6 sm:py-16;
  }
  .padding {
    @apply px-6 py-4 sm:px-16 sm:py-12;
  }
  .marginX {
    @apply mx-6 sm:mx-16;
  }
  .marginY {
    @apply my-6 sm:my-16;
  }
  .section {
    @apply flex flex-col py-6 sm:py-16 md:flex-row;
  }
  .sectionReverse {
    @apply flex flex-col-reverse md:flex-row;
  }
  .sectionImgReverse {
    @apply relative mr-0 mt-10 flex flex-1 items-center justify-center md:mr-10 md:mt-0;
  }
  .sectionImg {
    @apply relative ml-0 mt-10 flex flex-1 items-center justify-center md:ml-10 md:mt-0;
  }
  .sectionInfo {
    @apply flex-1  flex-col  items-start justify-center;
  }
}

// @layer components {
//   .but-bl {
//     filter: blur(8px);
//     -webkit-filter: blur(8px);
//   }
// }

.pinkHero {
  background-color: #ff5ab9;
}
.pinkSide {
  background-color: #a8347479;
  &:hover {
    background-color: #ff5ab9;
  }
  &:first-child {
    background-color: #ff5ab9;
  }
}
.orangeHero {
  background-color: #ff6c4e;
}
.orangeSide {
  background-color: #a8593479;
  &:hover {
    background-color: #ff6c4e;
  }
  &:first-child {
    background-color: #ff6c4e;
  }
}
.purpleHero {
  background-color: #ba59ff;
}
.purpleSide {
  background-color: #9534a879;
  &:hover {
    background-color: #ba59ff;
  }
  &:first-child {
    background-color: #ba59ff;
  }
}

// Swiper
.swiper-pagination-bullet {
  background: #7e2ba1 !important;
}
.swiper-pagination-bullet-active {
  background: #ba59ff !important;
}
