@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black-gradient: linear-gradient(
    144.39deg,
    #202020 -278.56%,
    #161616 -78.47%,
    #0e0e0f 91.61%
  );
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

* {
  scroll-behavior: smooth;
}

@layer components {
  body {
    @apply bg-white text-white;
  }
}

@layer components {
  .btnXl {
    @apply w-full rounded-3xl bg-[#EF6043] p-3 font-poppins text-lg hover:bg-[#eb6f50];
  }
}

@layer utilities {
  .grid-custom {
    display: grid;
    grid-template-columns: minmax(0, max-content) repeat(2, minmax(0, 1fr));
    gap: 0 0.5rem;
    // grid-template-columns:  minmax(0, max-content);
  }
}

@layer components {
  .furnitureItemBackground {
    background-color: #ececec7c;
  }
}

@layer utilities {
  .boxWidth {
    @apply w-full xl:max-w-[1280px];
  }
  .paragraph {
    @apply font-poppins text-[18px] font-normal leading-[30.8px] text-white;
  }
  .heading {
    @apply w-full font-poppins text-[40px] font-semibold leading-[66.8px] text-white xs:text-[48px] xs:leading-[76.8px];
  }

  .flexCenter {
    @apply flex items-center justify-center;
  }
  .flexStart {
    @apply flex items-start justify-center;
  }
  .flexEnd {
    @apply flex items-end justify-center;
  }
  .flexCenterX {
    @apply flex justify-center;
  }
  .flexCenterY {
    @apply flex flex-col items-center justify-center;
  }
  .flexBetweenX {
    @apply flex flex-row justify-between;
  }
  .flexCol {
    @apply flex flex-col;
  }
  .paddingX {
    @apply px-6 sm:px-16;
  }
  .paddingY {
    @apply py-6 sm:py-16;
  }
  .padding {
    @apply px-6 py-4 sm:px-16 sm:py-12;
  }
  .marginX {
    @apply mx-6 sm:mx-16;
  }
  .marginY {
    @apply my-6 sm:my-16;
  }
  .section {
    @apply flex flex-col py-6 sm:py-16 md:flex-row;
  }
  .sectionReverse {
    @apply flex flex-col-reverse md:flex-row;
  }
  .sectionImgReverse {
    @apply relative mr-0 mt-10 flex flex-1 items-center justify-center md:mr-10 md:mt-0;
  }
  .sectionImg {
    @apply relative ml-0 mt-10 flex flex-1 items-center justify-center md:ml-10 md:mt-0;
  }
  .sectionInfo {
    @apply flex-1  flex-col  items-start justify-center;
  }
}

// @layer components {
//   .but-bl {
//     filter: blur(8px);
//     -webkit-filter: blur(8px);
//   }
// }

.pinkHero {
  background-color: #ff5ab9;
}
.pinkSide {
  background-color: #a8347479;
  &:hover {
    background-color: #ff5ab9;
  }
  &:first-child {
    background-color: #ff5ab9;
  }
}
.orangeHero {
  background-color: #ff6c4e;
}
.orangeSide {
  background-color: #a8593479;
  &:hover {
    background-color: #ff6c4e;
  }
  &:first-child {
    background-color: #ff6c4e;
  }
}
.purpleHero {
  background-color: #ba59ff;
}
.purpleSide {
  background-color: #9534a879;
  &:hover {
    background-color: #ba59ff;
  }
  &:first-child {
    background-color: #ba59ff;
  }
}

// Active Sort

.categoryListActive {
  li.active {
    background-color: #905ace;
  }
}

// sort by
.sortActive {
  color: #ef6043;
}

// Page Login

.login {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}

.formGroupActive label {
  position: absolute;
  top: 0;
  z-index: 0;
  left: 0;
  color: #9e9e9e;
  transition: all 0.2s ease-in-out;
}
.formInputActive:focus ~ .formLabelActive,
.formInputActive:not(:placeholder-shown) ~ .formLabelActive {
  top: -16px;
  font-size: 12px;
  color: #9e9e9e;
}
// .inputError {
//   background: rgba(219, 57, 57, 0.3) !important;
// }

// checkbox

.inputDevice {
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
  top: 2px;
  left: 100px;
}
.labelDevice {
  padding-left: 25px;
  font-size: 1rem;
  cursor: pointer;
}
.labelDevice:before {
  content: '';
  display: block;
  width: 18px;
  height: 18px;
  border: 1px solid #ccc;
  background-color: #fff;
  position: absolute;
  top: 2px;
  left: 100px;
  z-index: 1;
  border-radius: 5px;
}
.labelDevice:after {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  background: url('./assets/check.svg') no-repeat;
  background-size: 16px 16px;
  opacity: 0;
  position: absolute;
  top: 2px;
  left: 100px;
  z-index: 2;
  transition: opacity 0.1s linear;
}

.inputDevice:checked + .labelDevice:before {
  background-color: #f6c678;
  border-color: #ffffff;
}
.inputDevice:checked + .labelDevice:after {
  opacity: 1;
}
